#box_wrap {
  height: 100vh;
  background-color: black;
  display: flex; }

#box_wrap .w26 #digitalBox {
  background-color: #100964;
  color: #fffabf;
  height: 24vh;
  display: flex; }
  #box_wrap .w26 #digitalBox::after {
    content: "";
    position: absolute;
    background: url("../images/index/dia.png") no-repeat;
    width: 18px;
    height: 18px;
    top: 1%;
    left: 1%; }
  #box_wrap .w26 #digitalBox #digital {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 90%;
    border: 1px solid #fffabf;
    font-size: 1.5vw;
    margin: auto;
    text-align: center; }
#box_wrap .w26 #aboutWrap {
  background: #000;
  color: #fffabf;
  height: 47vh;
  width: 100%; }
  #box_wrap .w26 #aboutWrap .tit {
    font-size: 1.8vw;
    height: 16%;
    border-bottom: 1px solid #fffabf;
    width: 100%; }
    #box_wrap .w26 #aboutWrap .tit h2 span {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      top: 50%; }
    #box_wrap .w26 #aboutWrap .tit h2 span:first-child {
      left: 4%; }
    #box_wrap .w26 #aboutWrap .tit h2 span:last-child {
      right: 4%; }
  #box_wrap .w26 #aboutWrap #clickSmile {
    font-size: 0.7vw;
    font-weight: 700;
    line-height: 0.7vw; }
  #box_wrap .w26 #aboutWrap .aboutMain {
    height: 75%;
    overflow: hidden; }
    #box_wrap .w26 #aboutWrap .aboutMain > * {
      position: absolute; }
    #box_wrap .w26 #aboutWrap .aboutMain .line, #box_wrap .w26 #aboutWrap .aboutMain .circle {
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s; }
    #box_wrap .w26 #aboutWrap .aboutMain .line {
      background: #00ff00; }
    #box_wrap .w26 #aboutWrap .aboutMain .verline {
      width: 1px;
      height: 100%;
      top: 0;
      left: 140px; }
    #box_wrap .w26 #aboutWrap .aboutMain .horline {
      width: 100%;
      height: 1px;
      top: 275px;
      left: 0; }
    #box_wrap .w26 #aboutWrap .aboutMain .circle {
      top: 54px;
      left: -78px;
      width: 89.8%; }
      #box_wrap .w26 #aboutWrap .aboutMain .circle img {
        width: 100%; }
    #box_wrap .w26 #aboutWrap .aboutMain .f_c {
      left: 4%;
      bottom: 10%; }
    #box_wrap .w26 #aboutWrap .aboutMain .smile {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }
    #box_wrap .w26 #aboutWrap .aboutMain .l_c {
      right: 4%;
      top: 10%; }
  #box_wrap .w26 #aboutWrap .position {
    height: 9%;
    border-top: 1px solid #fffabf; }
#box_wrap .w26 #moveSection {
  font-size: 0.8vw;
  height: 29%; }
  #box_wrap .w26 #moveSection .half {
    width: 50%;
    height: 100%;
    position: relative; }
    #box_wrap .w26 #moveSection .half p {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center; }
    #box_wrap .w26 #moveSection .half .box2 {
      width: 3.18vw;
      height: 3.91vw;
      right: 0.8vw;
      bottom: 1vw; }
    #box_wrap .w26 #moveSection .half .square {
      position: absolute; }
      #box_wrap .w26 #moveSection .half .square img {
        height: auto;
        max-width: 100%;
        vertical-align: bottom; }
  #box_wrap .w26 #moveSection .half:first-child {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background: url("../images/index/holrogramBg.jpg") no-repeat center;
    position: relative; }
    #box_wrap .w26 #moveSection .half:first-child p {
      color: #1800fd; }
    #box_wrap .w26 #moveSection .half:first-child::before {
      content: "";
      position: absolute; }
  #box_wrap .w26 #moveSection .half:last-child {
    background-color: #5d9eff; }
    #box_wrap .w26 #moveSection .half:last-child p {
      color: #a1ffaa; }
    #box_wrap .w26 #moveSection .half:last-child .halfLine {
      width: 10.36vw;
      height: 0.36vw;
      position: absolute;
      right: 1.46vw; }
      #box_wrap .w26 #moveSection .half:last-child .halfLine img {
        height: auto;
        max-width: 100%;
        vertical-align: bottom; }
    #box_wrap .w26 #moveSection .half:last-child .lineTop {
      top: 0.94vw; }
    #box_wrap .w26 #moveSection .half:last-child .lineDown {
      bottom: 1.73vw; }
    #box_wrap .w26 #moveSection .half:last-child .box3 {
      height: 3.91vw;
      width: 3.91vw;
      top: 0.42vw;
      left: 0.42vw;
      cursor: e-resize; }

#box_wrap .w52 #portfolio {
  height: 71%;
  background-color: #1800fd;
  font-size: 1.5vw;
  font-family: Mot;
  font-weight: 800;
  color: #5d9eff;
  position: relative;
  letter-spacing: 0.27vw; }
  #box_wrap .w52 #portfolio .top {
    height: 75%; }
  #box_wrap .w52 #portfolio .bottom {
    position: absolute;
    bottom: 0;
    height: 35%;
    width: 100%; }
    #box_wrap .w52 #portfolio .bottom ul {
      width: 100%;
      height: 92%;
      margin-top: 5px; }
      #box_wrap .w52 #portfolio .bottom ul li {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 50%;
        height: 50%;
        border: 2px solid #5d9eff;
        display: flex;
        border-collapse: collapse; }
        #box_wrap .w52 #portfolio .bottom ul li button {
          width: 100%;
          height: 83%;
          margin: auto; }
        #box_wrap .w52 #portfolio .bottom ul li p {
          text-align: center; }
      #box_wrap .w52 #portfolio .bottom ul li:nth-child(2), #box_wrap .w52 #portfolio .bottom ul li:nth-child(4) {
        border-left: none; }
      #box_wrap .w52 #portfolio .bottom ul li:nth-child(3), #box_wrap .w52 #portfolio .bottom ul li:nth-child(4) {
        border-top: none; }
      #box_wrap .w52 #portfolio .bottom ul li:hover {
        color: #fff;
        background: #5d9eff; }
    #box_wrap .w52 #portfolio .bottom p {
      font-size: 0.6vw;
      color: #fff;
      letter-spacing: 6.25vw;
      text-align: center;
      margin-left: 5px; }
#box_wrap .w52 .card {
  position: relative;
  width: 100%;
  height: 29vh;
  perspective: 100vw;
  z-index: 10; }
  #box_wrap .w52 .card .front {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background: url("../images/index/yoda.jpg") no-repeat center;
    height: 29vh;
    width: 100%; }
    #box_wrap .w52 .card .front p {
      position: absolute;
      bottom: 5%;
      left: 2%;
      font-size: 0.6vw;
      font-family: Mot;
      font-weight: 800;
      color: #fff;
      letter-spacing: 6.25vw;
      text-align: center;
      margin-left: 5px; }
  #box_wrap .w52 .card .back {
    position: relative;
    color: #fff;
    background-color: #000;
    height: 29vh;
    font-family: Mot;
    font-weight: 800; }
    #box_wrap .w52 .card .back .yoda {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      background: url("../images/index/yodaStiker.png") no-repeat center;
      width: 212px;
      height: 213px;
      position: absolute;
      top: 50%;
      left: 3%; }
    #box_wrap .w52 .card .back p {
      font-size: 1vw;
      letter-spacing: 0.18vw;
      color: #9b9b9b; }
    #box_wrap .w52 .card .back .phone {
      position: absolute;
      top: 35%;
      left: 35%; }
    #box_wrap .w52 .card .back .email {
      position: absolute;
      top: 50%;
      left: 42%; }
    #box_wrap .w52 .card .back .contact {
      position: absolute;
      bottom: 5%;
      left: 2%;
      font-size: 0.6vw;
      color: #fff;
      letter-spacing: 6.25vw;
      text-align: center;
      margin-left: 5px; }
    #box_wrap .w52 .card .back a {
      position: absolute;
      font-size: 0.73vw;
      color: #00ff24;
      bottom: 2.9vw;
      font-weight: 500;
      text-decoration: underline; }
    #box_wrap .w52 .card .back .be {
      right: 9.22vw; }
    #box_wrap .w52 .card .back .insta {
      right: 1.93vw; }
  #box_wrap .w52 .card > div {
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0; }
#box_wrap .w52 #ver .front {
  transform: rotateX(0deg); }
#box_wrap .w52 #ver:hover .front, #box_wrap .w52 #ver.flip .front {
  transform: rotateX(180deg); }
#box_wrap .w52 #ver .back {
  transform: rotateX(-180deg); }
#box_wrap .w52 #ver:hover .back, #box_wrap .w52 #ver.flip .back {
  transform: rotateX(0deg); }

#box_wrap .w22 #gradient {
  position: relative;
  height: 71vh;
  overflow: hidden; }
  #box_wrap .w22 #gradient .rotate {
    transition: background-position 0.6s;
    position: absolute;
    top: -125%;
    left: -125%;
    width: 350%;
    height: 350%;
    background: url("../images/index/gradient.svg") no-repeat 50% 50%;
    border: 1px solid red;
    background-size: cover; }
#box_wrap .w22 #panel {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  height: 29vh;
  background: url("../images/index/lineBg.png") no-repeat center;
  background-color: #000;
  overflow: hidden; }
  #box_wrap .w22 #panel #ball {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 1.56vw;
    height: 1.56vw;
    background-color: #fff;
    position: absolute;
    left: 70px;
    top: 70px; }
  #box_wrap .w22 #panel .text {
    color: #e30613;
    font-size: 0.63vw; }
    #box_wrap .w22 #panel .text p {
      position: absolute;
      bottom: 3%; }
    #box_wrap .w22 #panel .text .bounce {
      left: 2%; }
    #box_wrap .w22 #panel .text .the {
      left: 50%; }
    #box_wrap .w22 #panel .text .ball {
      right: 2%; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 200; }
  .modal .background {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.5; }
  .modal .view-container .view {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: relative;
    margin: 50px auto;
    width: 44.38vw;
    background: #fff;
    font-size: 0.63vw;
    border: 2px solid #000;
    height: 44.5vw; }
    .modal .view-container .view .header {
      font-size: 0.78vw;
      height: 2.24vw;
      background-color: #ff7800;
      line-height: 2.24vw;
      border-bottom: 2px solid #000;
      padding-left: 1.67vw; }
    .modal .view-container .view .content {
      position: relative; }
      .modal .view-container .view .content > p {
        font-size: 3vw;
        position: absolute;
        top: 2.2vw;
        left: 10%;
        z-index: 10; }
      .modal .view-container .view .content .triangle {
        position: absolute;
        top: 7.3vw;
        right: 9%; }
        .modal .view-container .view .content .triangle img {
          width: 12.66vw; }
      .modal .view-container .view .content .intro {
        -webkit-border-radius: 22px;
        -moz-border-radius: 22px;
        border-radius: 22px;
        width: 38.16vw;
        height: 18.41vw;
        border: 3px solid #ff7800;
        position: absolute;
        top: 10.2vw;
        left: 7%;
        font-family: yoon; }
        .modal .view-container .view .content .intro div {
          display: inline-block;
          position: absolute; }
        .modal .view-container .view .content .intro .haeun {
          width: 11.25vw;
          top: 1.5vw;
          left: 1vw; }
        .modal .view-container .view .content .intro .sand {
          width: 12.66vw;
          top: 6vw;
          left: 12.5vw; }
        .modal .view-container .view .content .intro .sky {
          width: 25vw;
          bottom: 1.3vw;
          right: 0.5vw; }
        .modal .view-container .view .content .intro img {
          height: auto;
          max-width: 100%;
          vertical-align: bottom; }
        .modal .view-container .view .content .intro ul {
          float: right;
          width: 24vw;
          height: 100%; }
          .modal .view-container .view .content .intro ul .name {
            float: left;
            height: 100%;
            width: 40%; }
          .modal .view-container .view .content .intro ul .birth, .modal .view-container .view .content .intro ul .eMail, .modal .view-container .view .content .intro ul .tel, .modal .view-container .view .content .intro ul .introTxt {
            float: right;
            width: 60%; }
          .modal .view-container .view .content .intro ul li {
            margin-top: 0.8vw; }
          .modal .view-container .view .content .intro ul .section {
            height: 100%; }
            .modal .view-container .view .content .intro ul .section li {
              width: 100%; }
          .modal .view-container .view .content .intro ul .name, .modal .view-container .view .content .intro ul .birth {
            margin-top: 2.2vw; }
          .modal .view-container .view .content .intro ul .eMail p + p {
            padding-left: 0.58vw; }
          .modal .view-container .view .content .intro ul .tel p + p {
            padding-left: 1.8vw; }
          .modal .view-container .view .content .intro ul .introTxt p + p {
            padding-left: 1.3vw; }
          .modal .view-container .view .content .intro ul li > p {
            float: left; }
          .modal .view-container .view .content .intro ul li > p + p {
            margin-left: 1.4vw; }
    .modal .view-container .view .down {
      position: absolute;
      top: 31vw;
      width: 100%;
      font-family: yoon; }
      .modal .view-container .view .down > div {
        float: left;
        width: 100%; }
        .modal .view-container .view .down > div > div {
          float: left;
          width: 41%;
          padding-left: 9%; }
          .modal .view-container .view .down > div > div > h2 {
            padding-bottom: 1.5vw; }
      .modal .view-container .view .down .education ul {
        width: 82%; }
        .modal .view-container .view .down .education ul li {
          width: 100%; }
        .modal .view-container .view .down .education ul li + li {
          margin-top: 1.5vw; }
        .modal .view-container .view .down .education ul li > p {
          float: left; }
        .modal .view-container .view .down .education ul p + p {
          margin-left: 3.13vw; }
      .modal .view-container .view .down .do ul {
        /*  .design{
             .p100{position: relative;
                 width: 1.93vw;height: 1.98vw;
                 p:first-child{
                     @include transform(translateY(-80%));
                     position: absolute;top: 50%;}
             p:last-child{font-size: 0.52vw;position: absolute;bottom: 0;}}
             .p70, .p60, .p50{position: relative;
                 p{width: 100%;text-align: center;}
                 p:first-child{
                 @include transform(translateY(-80%));
                 position: absolute;top: 50%;}
             p:last-child{font-size: 0.52vw;position: absolute;bottom: 0;}}
         }
          */ }
        .modal .view-container .view .down .do ul .design, .modal .view-container .view .down .do ul .coding {
          width: 100%; }
          .modal .view-container .view .down .do ul .design + li, .modal .view-container .view .down .do ul .coding + li {
            margin-top: 1.41vw; }
          .modal .view-container .view .down .do ul .design > p, .modal .view-container .view .down .do ul .coding > p {
            margin-right: 0.5vw;
            width: 20%; }
          .modal .view-container .view .down .do ul .design p, .modal .view-container .view .down .do ul .coding p {
            float: left; }
          .modal .view-container .view .down .do ul .design ul >, .modal .view-container .view .down .do ul .coding ul > {
            float: right;
            width: 80%; }
            .modal .view-container .view .down .do ul .design ul > > li, .modal .view-container .view .down .do ul .coding ul > > li {
              width: 100%;
              float: left; }
          .modal .view-container .view .down .do ul .design .percent, .modal .view-container .view .down .do ul .coding .percent {
            width: 1.98vw;
            display: inline-block; }
            .modal .view-container .view .down .do ul .design .percent > p, .modal .view-container .view .down .do ul .coding .percent > p {
              width: 100%;
              text-align: center; }
          .modal .view-container .view .down .do ul .design .percent + .percent, .modal .view-container .view .down .do ul .coding .percent + .percent {
            margin-left: 0.5vw; }
        .modal .view-container .view .down .do ul .design {
          width: 100%; }
          .modal .view-container .view .down .do ul .design .p50 {
            float: right;
            margin-top: 0.6vw; }
        .modal .view-container .view .down .do ul .Max {
          margin-right: 1.3vw; }
    .modal .view-container .view .class {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background: url("../images/about_me/x.png") no-repeat center;
      width: 2.24vw;
      height: 2.24vw;
      position: absolute;
      right: 0;
      border-left: 2px solid #000;
      top: 0; }

@keyframes hide {
  0%, 100% {
    transform: translateY(-100%); } }
.pjModal {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0; }
  .pjModal .vans-container .vansView {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
    width: 100%; }
    .pjModal .vans-container .vansView .headerVans {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 6.57vh;
      width: 100%;
      font-size: 1.56vw;
      color: #1800fd;
      line-height: 6.57vh;
      background: #fff;
      border: 3px solid #000;
      z-index: 400; }
      .pjModal .vans-container .vansView .headerVans h2 {
        margin-left: 1.5vw;
        display: inline-block; }
    .pjModal .vans-container .vansView .bottomVans {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: fixed;
      top: 88.89vh;
      left: 0;
      border: 3px solid #000;
      height: 11.11vh;
      width: 100%;
      background: #fff;
      z-index: 400; }
      .pjModal .vans-container .vansView .bottomVans > div {
        position: relative; }
        .pjModal .vans-container .vansView .bottomVans > div .controler {
          width: 30%;
          position: absolute;
          top: 1.04vw;
          right: 1.2vw; }
          .pjModal .vans-container .vansView .bottomVans > div .controler .prev, .pjModal .vans-container .vansView .bottomVans > div .controler .next {
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            height: 7.41vh; }
            .pjModal .vans-container .vansView .bottomVans > div .controler .prev img, .pjModal .vans-container .vansView .bottomVans > div .controler .next img {
              height: auto;
              max-width: 100%;
              vertical-align: bottom; }
          .pjModal .vans-container .vansView .bottomVans > div .controler .prev {
            width: 7.41vh;
            float: left; }
          .pjModal .vans-container .vansView .bottomVans > div .controler .next {
            width: 24.44vh;
            float: right; }
        .pjModal .vans-container .vansView .bottomVans > div .indicator {
          width: 65%;
          position: absolute;
          top: 1.04vw;
          left: 1.2vw; }
          .pjModal .vans-container .vansView .bottomVans > div .indicator ul {
            height: 4.32vw;
            width: 100%;
            position: relative; }
            .pjModal .vans-container .vansView .bottomVans > div .indicator ul li {
              float: left;
              height: 7.41vh;
              padding-right: 0.73vw; }
              .pjModal .vans-container .vansView .bottomVans > div .indicator ul li button {
                vertical-align: top;
                width: 100%; }
                .pjModal .vans-container .vansView .bottomVans > div .indicator ul li button .txt {
                  font-size: 1.56vw;
                  opacity: 0;
                  line-height: 7.41vh;
                  text-align: center;
                  position: absolute;
                  top: 0;
                  right: 0; }
                .pjModal .vans-container .vansView .bottomVans > div .indicator ul li button .icon {
                  -webkit-box-sizing: border-box;
                  -moz-box-sizing: border-box;
                  box-sizing: border-box;
                  -webkit-border-radius: 50%;
                  -moz-border-radius: 50%;
                  border-radius: 50%;
                  position: relative;
                  width: 7.41vh;
                  float: left;
                  border: 3px solid #000;
                  height: 7.41vh; }
                  .pjModal .vans-container .vansView .bottomVans > div .indicator ul li button .icon::before {
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transform: 0.5s;
                    -moz-transform: 0.5s;
                    -o-transform: 0.5s;
                    -ms-transform: 0.5s;
                    transform: 0.5s;
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    background: #000;
                    text-align: center; }
          .pjModal .vans-container .vansView .bottomVans > div .indicator ul li.on .icon:before {
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
            width: 70%;
            height: 70%; }
          .pjModal .vans-container .vansView .bottomVans > div .indicator ul li.on .txt {
            -webkit-transform: 0.5s;
            -moz-transform: 0.5s;
            -o-transform: 0.5s;
            -ms-transform: 0.5s;
            transform: 0.5s;
            opacity: 1; }
    .pjModal .vans-container .vansView .pjContainer, .pjModal .vans-container .vansView .pjContainer .vansCnt_wrap, .pjModal .vans-container .vansView .pjContainer .vansCnt_wrap section {
      height: 100%;
      background: #fff; }
    .pjModal .vans-container .vansView .pjContainer {
      width: 100%;
      overflow: hidden; }
      .pjModal .vans-container .vansView .pjContainer .vansCnt_wrap {
        height: 82.32vh; }
        .pjModal .vans-container .vansView .pjContainer .vansCnt_wrap section {
          float: left;
          padding-top: 3.7vw;
          padding-bottom: 6.25vw;
          /* border-left: 3px solid #000;border-right:3px solid #000; */
          /* .vansTits, .vansSmallTits{position: absolute;font-family: yoon;left: 5.63vw;}
          .vansTits{top:7.34vw;font-size: 1.88vw;}
          .vansSmallTits{top:9.32vw;font-size: 1.04vw; padding-top: 0.31vw;} */ }
      .pjModal .vans-container .vansView .pjContainer #vansCnt1 {
        width: 100%;
        position: relative;
        color: #1800fd;
        background: #fff; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 h2 {
          -webkit-transform: skew(-30deg, -6deg) translateX(-50%);
          -moz-transform: skew(-30deg, -6deg) translateX(-50%);
          -o-transform: skew(-30deg, -6deg) translateX(-50%);
          -ms-transform: skew(-30deg, -6deg) translateX(-50%);
          transform: skew(-30deg, -6deg) translateX(-50%);
          position: absolute;
          top: 6.5vw;
          left: 50%;
          font-size: 3.65vw;
          text-align: right; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 p {
          -webkit-transform: skew(-30deg, -6deg);
          -moz-transform: skew(-30deg, -6deg);
          -o-transform: skew(-30deg, -6deg);
          -ms-transform: skew(-30deg, -6deg);
          transform: skew(-30deg, -6deg);
          position: absolute;
          font-size: 1.15vw;
          font-family: Mot;
          font-weight: 500; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .vansPcDrop {
          position: absolute;
          top: 0;
          left: 0;
          width: 33.13vw;
          height: 46.41vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt1 .vansPcDrop img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .vansMoblieDrop {
          position: absolute;
          top: 0;
          right: 0;
          width: 26.41vw;
          height: 46.3vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt1 .vansMoblieDrop img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .period {
          top: 24vw;
          left: 60%; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .index {
          top: 28vw;
          left: 58%; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .lineSkew {
          position: absolute;
          width: 28.65vw;
          height: 4.01vw;
          top: 26vw;
          left: 25%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt1 .lineSkew img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt1 .bgCircle {
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          background: #fff000;
          width: 45vw;
          height: 18vw;
          position: absolute;
          top: 14vw;
          left: 50%; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt2 {
        width: 100%;
        position: relative; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .vansTits, .pjModal .vans-container .vansView .pjContainer #vansCnt2 .vansSmallTits, .pjModal .vans-container .vansView .pjContainer #vansCnt2 .plain {
          position: absolute;
          font-family: yoon;
          left: 5.63vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .vansTits {
          top: 4.34vw;
          font-size: 1.88vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .vansSmallTits {
          top: 6.32vw;
          font-size: 1.04vw;
          padding-top: 0.31vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .plain {
          font-size: 0.7vw;
          top: 10.2vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap {
          width: 40%;
          float: left;
          position: absolute;
          left: 5.63vw;
          top: 19vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li {
            width: 50%; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li img {
              height: auto;
              max-width: 100%;
              vertical-align: bottom; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .whiteEra {
              height: 6.04vw;
              width: 15.68vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .whiteslip-on {
              height: 6.35vw;
              width: 15.31vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .era {
              width: 14.38vw;
              height: 9.58vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .slip-on {
              width: 15vw;
              height: 7.6vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .era, .pjModal .vans-container .vansView .pjContainer #vansCnt2 .shoeWrap li .slip-on {
              padding-top: 4.17vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .pointer {
          width: 12.34vw;
          height: 1.04vw;
          position: absolute;
          top: 9.5vw;
          left: 39.06vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt2 .pointer img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right {
          width: 60%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right > div {
            width: 24.53vw;
            height: 43.23vw;
            top: 9.32vw;
            border: 3px solid #000;
            margin-left: 25%; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right > div img {
              height: auto;
              max-width: 100%;
              vertical-align: bottom; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain {
            position: absolute;
            top: 4vw;
            right: 0;
            width: 22%;
            font-family: 'yoon';
            font-size: 0.83vw;
            margin-top: 0.3vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li {
              width: 100%; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li > p {
                width: 7.86vw;
                float: right;
                position: absolute;
                top: 6vw;
                right: 6vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li div {
                width: 100%; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li div .subLine {
                  float: left;
                  width: 5.26vw;
                  border: 1px solid #000; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li div p {
                  color: #fff;
                  text-align: center;
                  line-height: 1.56vw;
                  float: left;
                  background: #000;
                  width: 1.56vw;
                  height: 1.56vw;
                  position: absolute;
                  left: 5vw; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li div p:first-child {
                  top: -0.1vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li .customPic {
                position: absolute;
                left: 8vw;
                border: 3px solid #000;
                width: 7.86vw;
                height: 4.58vw; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain li .customPic img {
                  height: auto;
                  max-width: 100%;
                  vertical-align: bottom; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain .cntTwoTwo > div {
              position: absolute;
              top: 20vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt2 .cnt2Right .cnt2Plain .cntTwoTwo > p {
              position: absolute;
              top: 20vw; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt3 {
        width: 100%;
        position: relative; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .vansTits, .pjModal .vans-container .vansView .pjContainer #vansCnt3 .vansSmallTits, .pjModal .vans-container .vansView .pjContainer #vansCnt3 .plain, .pjModal .vans-container .vansView .pjContainer #vansCnt3 .plain2 {
          position: absolute;
          font-family: yoon;
          left: 5.63vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .vansTits {
          top: 4.34vw;
          font-size: 1.88vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .vansSmallTits {
          top: 6.32vw;
          font-size: 1.04vw;
          padding-top: 0.31vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .plain {
          font-size: 0.7vw;
          top: 10.2vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .plain2 {
          font-size: 0.7vw;
          top: 10.2vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3CollecionPic {
          width: 25.11vw;
          height: 16.11vw;
          top: 21vw;
          left: 5.63vw;
          position: absolute; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3CollecionPic img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .pointer {
          width: 12.34vw;
          height: 1.04vw;
          position: absolute;
          top: 9.5vw;
          left: 39.06vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt3 .pointer img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right {
          width: 60%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right > div {
            width: 24.53vw;
            height: 43.23vw;
            top: 9.32vw;
            border: 3px solid #000;
            margin-left: 25%; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right > div img {
              height: auto;
              max-width: 100%;
              vertical-align: bottom; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain {
            position: absolute;
            top: 4vw;
            right: 0;
            width: 22%;
            font-family: 'yoon';
            font-size: 0.83vw;
            margin-top: 0.3vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li {
              width: 100%; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li > p {
                width: 7.86vw;
                float: right;
                position: absolute;
                top: 0;
                right: 6vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li div {
                width: 100%; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li div .subLine {
                  float: left;
                  width: 5.26vw;
                  border: 1px solid #000; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li div p {
                  color: #fff;
                  text-align: center;
                  line-height: 1.56vw;
                  float: left;
                  background: #000;
                  width: 1.56vw;
                  height: 1.56vw;
                  position: absolute;
                  left: 5vw;
                  word-break: keep-all; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain li div p:first-child {
                  top: -0.1vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain .cnt3Two > div {
              position: absolute;
              top: 29vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt3 .cnt3Right .cnt3Plain .cnt3Two > p {
              position: absolute;
              top: 29vw; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt4 {
        width: 100%;
        position: relative;
        font-family: yoon; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .vansTits, .pjModal .vans-container .vansView .pjContainer #vansCnt4 .vansSmallTits, .pjModal .vans-container .vansView .pjContainer #vansCnt4 .visualIdentity {
          position: absolute;
          left: 5.63vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .vansTits {
          top: 2.34vw;
          font-size: 1.88vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .vansSmallTits {
          top: 4.32vw;
          font-size: 1.04vw;
          padding-top: 0.31vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .visualIdentity {
          top: 7.5vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .visualIdentity h3 {
            font-size: 1.25vw;
            padding-bottom: 0.6vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .visualIdentity p {
            font-size: 0.73vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .visualIdentity p + p {
            padding-top: 0.4vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element {
          position: absolute;
          left: 30vw;
          top: 7.5vw;
          height: 100%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element li h3 {
            font-size: 1.25vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element li p {
            font-size: 0.73vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element li p + p {
            padding-top: 0.4vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element li > p {
            padding-top: 1vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element li .infoLine {
            border: 1px solid #000;
            width: 38.56vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .ill {
            margin-top: 3vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .graffi {
            margin-top: 7vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors {
            margin-top: 2vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip {
              position: absolute;
              width: 100%;
              top: 28.3vw;
              left: 13vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li {
                width: 4.17vw;
                height: 1.04vw;
                border: 1.5px solid #000; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li:first-child {
                  background: #000; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li:nth-child(2) {
                  background: #fff; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li:nth-child(3) {
                  background: #1800fd; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li:nth-child(4) {
                  background: #00ff00; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li:last-child {
                  background: #ff0000; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt4 .element .colors .colorChip li + li {
                margin-left: 1.04vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt4 .cnt4Pc {
          width: 21.53vw;
          height: 55.83vw;
          position: absolute;
          top: 0;
          right: 8.85vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt4 .cnt4Pc img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt5 {
        width: 100%;
        position: relative;
        font-family: yoon; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .vansTits, .pjModal .vans-container .vansView .pjContainer #vansCnt5 .vansSmallTits, .pjModal .vans-container .vansView .pjContainer #vansCnt5 p {
          position: absolute;
          left: 5.63vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .vansTits {
          top: 2.34vw;
          font-size: 1.88vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .vansSmallTits {
          top: 4.32vw;
          font-size: 1.04vw;
          padding-top: 0.31vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .plain {
          font-size: 0.7vw;
          top: 10.2vw;
          padding-top: 0.31vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .cnt5Pc {
          position: absolute;
          left: 39.10vw;
          top: 0;
          height: 56.25vw;
          width: 35.57vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt5 .cnt5Pc img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .framePc {
          -webkit-border-radius: 27px;
          -moz-border-radius: 27px;
          border-radius: 27px;
          border: 3px solid #000;
          position: absolute;
          top: 11.68vw;
          left: 39.10vw;
          width: 35.57vw;
          height: 20.26vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .cnt5Moblie {
          position: absolute;
          left: 77.47vw;
          top: 0;
          width: 14.38vw;
          height: 46.3vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt5 .cnt5Moblie img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt5 .frameM {
          -webkit-border-radius: 29px;
          -moz-border-radius: 29px;
          border-radius: 29px;
          border: 3px solid #000;
          position: absolute;
          top: 2.4vw;
          left: 77.4vw;
          width: 14.17vw;
          height: 26.09vw; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt6 {
        width: 100%;
        position: relative;
        font-family: yoon;
        z-index: 350; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div {
          width: 30%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .vansTits, .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .vansSmallTits, .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .pGroup {
            position: absolute;
            left: 5.63vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .vansTits {
            top: 2.34vw;
            font-size: 1.88vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .vansSmallTits {
            top: 4.32vw;
            font-size: 1.04vw;
            padding-top: 0.31vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .pGroup {
            font-size: 0.7vw;
            bottom: 12vw;
            padding-top: 0.31vw;
            word-break: keep-all; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .pGroup p {
              line-height: 1.56vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 > div .pGroup p + p {
              padding-top: 1.6vw; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap {
          width: 70%;
          position: absolute;
          left: 38vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul {
            width: 100%;
            position: absolute;
            top: -1vw;
            left: 10vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li {
              position: absolute; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li p {
                font-size: 0.7vw;
                position: absolute;
                left: 0; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li > div {
                position: absolute;
                left: 0; }
                .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li > div img {
                  height: auto;
                  max-width: 100%;
                  vertical-align: bottom; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:first-child p {
              top: 0vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:first-child > div {
              width: 49.16vw;
              height: 14.58vw;
              position: absolute;
              left: -0.5vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:nth-child(2) {
              top: 12.5vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:nth-child(2) p {
                top: 0vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:nth-child(2) > div {
                width: 47.39vw;
                height: 13.7vw; }
            .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:last-child {
              top: 26vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:last-child p {
                top: 0vw; }
              .pjModal .vans-container .vansView .pjContainer #vansCnt6 .codingWrap ul li:last-child > div {
                width: 47.39vw;
                height: 12.34vw; }
      .pjModal .vans-container .vansView .pjContainer #vansCnt7 {
        width: 100%;
        position: relative;
        font-family: yoon; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg {
          overflow: hidden; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p {
            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
            position: absolute;
            font-size: 1.56vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p:nth-child(1) {
            top: -9vw;
            left: -2vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p:nth-child(2) {
            top: 4vw;
            left: -2vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p:nth-child(3) {
            width: 110%;
            top: 30vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p:nth-child(4) {
            top: 45vw;
            left: 2vw;
            width: 110%; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .vansCnt7Bg p:nth-child(5) {
            top: -1vw;
            left: -2vw;
            width: 110%; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt7 .macbook {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          top: 44%;
          left: 50%;
          width: 58.11vw;
          height: 36.46vw; }
          .pjModal .vans-container .vansView .pjContainer #vansCnt7 .macbook img {
            height: auto;
            max-width: 100%;
            vertical-align: bottom; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt7 a {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: 1.56vw;
          background: #fff;
          border: 3px solid #000;
          width: 11.67vw;
          height: 3.28vw;
          line-height: 3.28vw;
          text-align: center; }
        .pjModal .vans-container .vansView .pjContainer #vansCnt7 a:hover, .pjModal .vans-container .vansView .pjContainer #vansCnt7 a.focus {
          background: #000;
          color: #fff; }
    .pjModal .vans-container .vansView .class2 {
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      background: url("../images/about_me/x.png") no-repeat center;
      position: absolute;
      right: 0;
      border-left: 3px solid #000;
      top: 0;
      width: 6.57vh;
      height: 6.57vh; }

/*# sourceMappingURL=main.css.map */
